/****************************
GENERAL
*****************************/

* {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 920px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
    border: none;
}

p {
    font-size: .85em: line-height: 1.6;
    padding: 0.24%;
}

.photos img {
    display: block;
    max-width: 400px;
    height: 250px;
    list-style-type: none;


}

body > header {
    background-color: white;
}


body section {
    margin: 20px 0 0 0;
}

section article {
    margin: 15px;
}


/***********************************
HEADING
***********************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noticia Text, Arial, sans-serif;" color: rgb(0, 0, 0);
    font-size: 1.3em:
}

h1 {


}

h2 {

}


/********************************
NAVIGATION
********************************/

nav ul {
    margin-top: 20px;
    text-align: center;

}

nav li {
    color: white;
    width: 250px;
    padding: 20px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    background-color: cce5ff;
    border-radius: 15px;


}
/*******************************
FOOTER
*******************************/

 footer{
   margin-top: 20px;
 }



/*******************************
PAGE PORTIFOLIO
********************************/

/*******************************
Media Queries
********************************/
@media only screen and (min-width: 480px){
nav a{
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0;
  }
nav li:first-child a{
    margin-left: 0;
  }
nav li:last-child a{
    margin-right: 0;
  }

}

@media only screen and (min-width: 768px),
  only screen and (min-width; 700px) and (orientation: landscape) {



nav a {
  float:right;
  width: 60%;
  padding: 15px 1%;
  }

.section {
  float: left;
  width:57%;
  }
{

@media only screen and (min-width: 1140px) {

#wrapper {
  width: 1026px;
  margin: 0 auto;
}



nav a{
  padding: 25px 1%;
  }
}

/************************************
Clearfix
***********************************/
clearfix:before,
clearfix:after{
  content: "";
  display:table;
}

clearfix:after {
  clear:both;
}

clearfix {
  *zoom:1;
}

PAGE PORTIFOLIO
********************************/
