/****************************
GENERAL
*****************************/

* {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 920px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
    border: none;
}
a:hover {
    color: white;
    background: blue;
}

p {
    font-size:.85em; line-height: 1.6;
    padding: 0.24%;
}

.photos img {
    display: block;
    max-width: 400px;
    height: 250px;
    padding: .025%;
    list-style-type: none;


}

body  header {
    background-color: white;
}


body section {
    margin: 20px 0 0 0;
}

section article {
    margin: 15px;
}



h1 {
  font-family: "Arial, sans-serif";
  color: #000;
  font-size: 1.3em;
}



/********************************
NAVIGATION
********************************/

nav ul {
    margin-top: 20px;
    text-align: center;

}

nav li {
    color: white;
    width: 295px;
    padding: 10px;
    display: inline-block;
    font-family: "Arial, sans-serif";
    font-size: 1em;
    font-weight: bold;
    background-color: #cce5ff;
    border-radius: 15px;
}

/*******************************
FOOTER
*******************************/

 footer{
   margin-top: 60px;
 }
 /*******************************
 Form
 ********************************/
 body { background-color:
 white;}

label {
    clear: left;
    color: black;
    font-size: 1em;
    margin: 22px 32px 6px 0;
    text-align: right;
    text-transform: capitalize;
    width: 94px;
}
form li {
    list-style-type: none;
}
form {

    border-radius: 20px 20px 20px 20px;
    list-style: none;
    margin: 15px auto;
    padding: 20px 30px;

}
h1 {
    font-size: 1.3em; color: black; text-transform:capitalize;
    text-align: left; margin: 0 0 35px 0; text-shadow: 0px 1px 0px #f2f2f2;
}


input {
    background: white;
    font-family: sans-serif;
    font-size: 1em;
    height: 30px;
    margin: 4px 0 21px;
    padding: 3px;
    text-transform: capitalize;
    width: 256px;
}

textarea {
    background: white;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    height: 170px;
    margin: 0 0 21px;
    padding: 12px 20px 0;
    text-transform: capitalize;
    width: 256px;

  }



input[type=submit] {
    width: 185px; height: 52px; float: left; padding: 15px 15px; margin: 10px 15px;
    border: 1px solid black;


  }



/*******************************
Media Queries
********************************/
@media only screen and (min-width: 480px){
nav a{
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0;
  }
nav li:first-child a{
    margin-left: 0;
  }
nav li:last-child a{
    margin-right: 0;
  }

}

@media only screen and (min-width: 768px),
  only screen and (min-width: 700px) and (orientation: landscape) {



nav a {
  float: right;
  width: 60%;
  padding: 15px 1%;
  }

.section {
  float: left;
  width:57%;
  }
}
@media only screen and (min-width: 1140px) {

#wrapper {
  width: 1026px;
  margin: 0 auto;
}



nav a{
  padding: 25px 1%;
  }
}

/************************************
Clearfix
***********************************/
clearfix:before,
clearfix:after{
  content: "";
  display:table;
}

clearfix:after {
  clear:both;
}
